<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-row">
    <%= f.email_field :email, autofocus: true %><%= f.text_field :username %>
  </div>

   <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-row">
    <%= f.label :organization_id, 'Select Organization' %><br>
    <%= f.select(:organization_id, [['Elevate Energy', 2], ['New Ecology', 3], ['Testing', 1]]) %>
  </div>

  <div class="form-row">
    <%= f.text_field :first_name %><%= f.text_field :last_name %>
  </div>

  <div class="form-row">
    <%= f.telephone_field :phone %>
  </div>

  <div class="form-row">
    <%= f.label :password %>  <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br /><br>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="form-row">
    <%= f.label :password_confirmation %>  <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="form-row">
    <%= f.label :current_password %>  <i>(*current password required to confirm your changes*)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
    <div class="actions">
    <br><br>
      <%= f.submit "Update" %>
    </div><br>
    <%= link_to "Back", :back %>
  </div>

  
<% end %>


