<%- title @structure.name %>

<%- content_for(:crumbs) do %>
  <div class="crumbs">
    <%= link_to 'All audits', audits_path %>
    <i class="icon-chevron-right"></i>
    <%- crumb_links(current_audit, @structure.parent_object).each do |link_args| %>
      <%= link_to *link_args %>
      <i class="icon-chevron-right"></i>
    <%- end %>
    <%= @structure.name %>
  </div>
<%- end %>

<%- content_for(:title_links) do %>
  <%= lock_icon(current_audit) %>
<% end -%>

<%= render 'web/navigation/sibling_menu', object: @structure %>

<div class="active-content js-active-content">
  <%= render 'tab_menu' %>

  <div class="pane-wrapper">
    <% if @structure.structure_type.child_structure_types.length > 0 %>
      <%= render 'substructures', structure: @structure %>
    <% end %>
    <%= render 'details', structure: @structure %>
    <%= render 'web/photos/photos', structure: @structure %>
  </div>
</div>

<%= render 'web/structures/clone_structure_modal',
      parent_structure: @structure %>
<%= render 'web/structures/new_structure_modal', parent_structure: @structure %>
<%= render 'web/sample_groups/new_sample_group_modal',
      parent_structure: @structure %>
