<div class="active-content__measures">
  <% AuditMeasuresPresenter.new(current_audit).measures.each do |measure| %>
    <div class="form-row">
      <%= form_tag [current_audit, measure.measure],
            method: :put,
            remote: true do %>
        <%= label_tag :measure, class: 'checkbox checkbox-inline' do %>
          <%= hidden_field_tag :value, false %>
          <%= check_box_tag :value,
                true,
                measure.value,
                class: 'notes-toggler',
                disabled: !can_edit? %>
          <%= measure.name %>
          <%= text_area_tag :notes,
                measure.notes,
                class: 'measure-notes',
                disabled: !can_edit? %>
        <%- end %>
      <%- end %>
    </div>
  <% end %>
</div>
