<div class="modal js-modal" id="clone-structure-modal">
  <div class="modal__header">
    <a href="#" class="modal__close js-modal-audit-close">
      <i class="icon-close"></i>
    </a>
    <h2 class="modal__title">Clone structure</h2>
  </div>

  <%= form_tag clone_audit_audit_structures_path(current_audit), method: :post do |f| %>
    <%= hidden_field_tag :source_structure_id, '', class: 'js-source-structure-id' %>

    <div class="form-row">
      <%= label_tag :n_copies, 'Number of copies', class: 'form-row__label' %>
      <%= text_field_tag :n_copies %>
    </div>

    <div class="form-row">
      <%= label_tag :pattern,
            'Name Pattern',
            class: 'form-row__label js-name-pattern' %>
      <%= text_field_tag :pattern %>
      <br>
      <br>
      <ul>
        <li>? - replaced with an incremented letter</li>
        <li># - replaced with an incremented number</li>
      </ul>
    </div>

    <div class="form-actions">
      <%= submit_tag 'Create',
            class: 'btn btn-primary',
            data: { disable_with: 'Cloning...' } %>
    </div>
  <%- end %>
</div>
