<div class="active-content__details js-autosave-form">
  <%= form_for [current_audit, audit_structure], remote: true do |f| %>
    <fieldset>
      <legend class="section-title">
        Structure
      </legend>

      <div class="form-row">
        <%= f.label :name, class: 'form-row__label' %>
        <%= f.text_field :name, disabled: !can_edit? %>
      </div>

      <div class="form-row">
        <%= label_tag :audit_strc_type, 'Type', class: 'form-row__label' %>
        <%= text_field_tag :audit_strc_type, audit_structure.audit_strc_type.name, disabled: true %>
      </div>
    </fieldset>
  <%- end %>

  <%- if audit_structure.physical_structure %>
    <%= render audit_structure.physical_structure_type.downcase,
          physical_structure: audit_structure.physical_structure %>
  <%- end %>

    <%- StructureDetailsPresenter.new(audit_structure).groupings.each do |grouping| %>
    <fieldset>
      <legend class="section-title">
        <%= grouping.name %>
      </legend>
      <%- grouping.audit_fields.each do |audit_field| %>
        <%= form_for [current_audit, audit_field],
              method: :put,
              remote: true,
              url: audit_audit_field_path(current_audit.id, audit_field) do |f| %>
          <%= hidden_field_tag :audit_structure_id, audit_structure.id %>
          <div class="form-row">
            <%= label_tag audit_field.name.parameterize,
                  audit_field.name,
                  class: 'form-row__label' %>
            <% if audit_field.value_type != 'picker' %>
              <% if audit_field.value_type == 'string' || audit_field.value_type == 'text' %>
                <%= render "web/fields/#{audit_field.partial}",
                      name: audit_field.name.parameterize,
                      value: audit_field.audit_field_value.try(:[], 'string_value') %>
              <% else %>
                <%= render "web/fields/#{audit_field.partial}",
                      name: audit_field.name.parameterize,
                      value: audit_field.audit_field_value_value %>
              <% end %>
            <% else %>
              <%= render "web/fields/#{audit_field.partial}",
                    name: audit_field.name.parameterize,
                    value: audit_field.audit_field_value,
                    seldefault: audit_field.string_value %>
            <% end %>
          </div>
        <%- end %>
      <%- end %>
    </fieldset>
    <%- end %>
  </form>
</div>
