<div class="modal js-modal" id="new-sample-group-modal">
  <div class="modal__header">
    <a href="#" class="modal__close js-modal-close">
      <i class="icon-close"></i>
    </a>
    <h2 class="modal__title">Create a new sample group</h2>
  </div>
  <%= form_for [current_audit, @sample_group] do |f| %>
    <%= f.hidden_field :parent_structure_id, class: 'js-parent-structure-id' %>
    <%= hidden_field_tag :new_structure_type, '', class: 'js-parent-structure-type' %>

    <div class="form-row">
      <%= f.label :name, class: 'form-row__label' %>
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="form-row">
      <%= f.label :n_structures, 'Sample size', class: 'form-row__label' %>
      <%= f.text_field :n_structures %>
    </div>

    <div class="form-row">
      <%= label_tag :audit_strc_type, 'Type', class: 'form-row__label' %>
      <%= select_tag :audit_strc_type, [], class: 'js-structure-types' %>
    </div>

    <div class="form-row">
      <%= label_tag :structure_subtype, 'Subtype', class: 'form-row__label' %>
      <%= select_tag :structure_subtype, [], class: 'js-structure-subtypes' %>
    </div>

    <div class="form-actions">
      <%= f.submit 'Create',
            class: 'btn btn-primary',
            data: { disable_with: 'Creating...' } %>
    </div>
  <%- end %>
</div>
