<h2>Edit <%= @user.username.to_s.humanize %></h2>

<%= form_for(@user) do |f| %>

  <div class="form-row">
    <%= f.label :email, 'Email' %><br><%= f.email_field :email, autofocus: true %><br><p>*required</p><br>
    <%= f.label :username, 'Username' %><br><%= f.text_field :username %>
  </div>

  <div class="form-row">
    <%= f.label :organization_id, 'Select Organization' %><br>
    <%= f.select(:organization_id, [['Elevate Energy', '29efb419-f657-69e2-a543-f5af358a4e5d'], ['New Ecology', '856acf1c-b83d-4325-b54a-466b1416aa05'], ['Testing', '19cfb419-f657-49e2-a543-d5af358a4e9c']]) %>
  </div>

  <div class="form-row">
    <%= f.label :role, 'Select Role' %><br>
    <%= f.select(:role, [['User', 'user'], ['Admin', 'admin'], ['Super-Admin', 'superadmin']]) %>
  </div>


  <div class="form-row">
    <%= f.text_field :first_name %><%= f.text_field :last_name %>
  </div>

  <div class="form-row">
    <%= f.label :phone, 'Phone' %><br>
    <%= f.telephone_field :phone %>
  </div>

  <div class="form-row">
    <%= f.label :password %>  <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br /><br>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="form-row">
    <%= f.label :password_confirmation %>  <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="form-row">
    <div class="actions">
    <br><br>
      <%= f.submit "Update" %>
  </div>

  
<% end %>
<br>

<div class="form-row">
User's Active Audits:<br>
<% @active_audits.each do |audit| %>
  <%= audit.name %> ,
<% end %>

</div>

<div class="form-row">
  <%= link_to "Delete User", @user, method: :delete,
                                  data: { confirm: "You sure?" } %>
</div>

<div class="form-row">
  <%= link_to "Back to User Index", users_path %>
</div>


