<div class="active-content__measures">
  <% AuditMeasuresPresenter.new(current_audit).audit_measures.each do |audit_measure| %>
    <div class="form-row">
      <%= form_tag [current_audit, audit_measure.audit_measure],
            method: :put,
            remote: true do %>
        <%= label_tag :audit_measure, class: 'checkbox checkbox-inline' do %>
          <%= hidden_field_tag :value, false %>
          <%= check_box_tag :value,
                true,
                audit_measure.value,
                class: 'notes-toggler',
                disabled: !can_edit? %>
          <%= audit_measure.name %>
          <%= text_area_tag :notes,
                audit_measure.notes,
                class: 'measure-notes',
                disabled: !can_edit? %>
        <%- end %>
      <%- end %>
    </div>
  <% end %>
</div>
