<% if user_signed_in? %>
  <li><%= link_to 'Audits', audits_path %></li>
  <li><%= link_to 'Organizations', organizations_path %></li>
  <li><%= link_to 'Buildings', buildings_path %></li>
  <li><%= link_to "Sign '#{current_user.username}' out", '/signout', :method => :delete %></li>
<% else %>
  <li><%= link_to 'Sign in', '/signin' %></li>
<% end %>