<ul class='no-list-style'>
  <li class='level-1'>
    <div class='field_title'>Name:  <%= @building.nickname %></div>
  </li>
  <br>
  <li class='level-1'>
    <div class='field_title'>Building Type:  <%= @building.object_type %></div>
  </li>
  <br>
  <li class='level-1'>
    <div class='field_title'>
      Substructures:
    </div>
    <ul class='no-list-style'>
      <% @building.structure.substructures.sort { |a, b| a.structure_type_id <=> b.structure_type_id }.each do |substruct| %>
        <li>
        <%= [substruct.structure_type.name, substruct.name].join(' - ') %>
        <% if substruct.substructures.count > 0 %>
          <ul>
            <% substruct.substructures.each do |s| %>
              <li><%= [s.structure_type.name, s.name].join(' - ') %></li>
            <% end %>
          </ul>
        <% end %>
        </li>
      <% end %>
    </ul>
  </li>
  <br>
  <li class='level-1'>
    <div class='field_title'>Details:</div>
    <ul class='no-list-style' style='display: inline-flex'>
      <li>
        <div class='field_title grouping'>Building Details</div>
        <ul class='no-list-style'>
          <li>
            <div class='field_title'>Address:  </div>
          </li>
          <li>
            <div class='field_title'><%= @building.street_address %></div>
          </li>
          <li>
            <div class='field_title'><%= @building.city %>, <%= @building.state_code %> <%= @building.zip_code %></div>
          </li>
          <li>
            <div class='field_title'>County:  <%= @building.county %></div>
          </li>
          <li>
            <div class='field_title'>Country:  <%= @building.country %></div>
          </li>
          <br>
          <li>
            <div class='field_title'>Latitude:  <%= @building.lat %></div>
          </li>
          <li>
            <div class='field_title'>Longitude:  <%= @building.lng %></div>
          </li>
          <li>
            <div class='field_title'>Climate Zone:  <%= @building.climate_zone %></div>
          </li>
          <li>
            <div class='field_title'>SQFT:  <%= @building.sqft %></div>
          </li>
          <li>
            <div class='field_title'>Year Built:  <%= @building.year_built %></div> 
          </li>
          <li>
            <div class='field_title'>Low Income:  <%= @building.low_income %></div>
          </li>
          <li>
            <div class='field_title'>Resident Type:  <%= @building.resident_type %></div> 
          </li>
          <li>
            <div class='field_title'>Number of Stories:  <%= @building.n_stories %></div>
          </li>
          <li>
            <div class='field_title'>Building Type:  <%= @building.building_type %></div>
          </li>
          <li>
            <div class='field_title'>Construction:  <%= @building.construction %></div>
          </li>
          <li>
            <div class='field_title'>Number of Apartments:  <%= @building.n_apartments %></div> 
          </li>
          <li>
            <div class='field_title'>Number of Bedrooms:  <%= @building.n_bedrooms %></div>
          </li>
          <li>
            <div class='field_title'>Heating Fuel:  <%= @building.heating_fuel %></div>
          </li>
          <li>
            <div class='field_title'>Heating System:  <%= @building.heating_system %></div>
          </li>
          <li>
            <div class='field_title'>Hot Water Fuel:  <%= @building.hot_water_fuel %></div>
          </li>
          <li>
            <div class='field_title'>Hot Water System:  <%= @building.hot_water_system %></div>
          </li>
          <li>
            <div class='field_title'>Cooling System:  <%= @building.cooling_system %></div>
          </li>
          <li>
            <div class='field_title'>Number of Elevators:  <%= @building.n_elevators %></div>
          </li>
          <li>
            <div class='field_title'>Dryer Fuel:  <%= @building.dryer_fuel %></div>
          </li>
          <li>
            <div class='field_title'>Draft:  <%= @building.draft %></div>
          </li>
          <li>
            <div class='field_title'>Notes:</div>
            <%= @building.notes %>
          </li>
          <br>
          <li>
            <div class='field_title'>Green Certified</div>
            <%= @building.green_certified %>
          </li>
          <li>
            <div class='field_title'>LEED Certified</div>
            <%= @building.leed_certified %>
          </li>
          <li>
            <div class='field_title'>LEED Level</div>
            <%= @building.leed_level %>
          </li>
          <li>
            <div class='field_title'>EPA Certified</div>
            <%= @building.epa_certified %>
          </li>
          <li>
            <div class='field_title'>NAHB Certified</div>
            <%= @building.nahb_certified %>
          </li>
          <li>
            <div class='field_title'>Other Certifications</div>
            <%= @building.other_certified %>
          </li>
          <li>
            <div class='field_title'>Has Laundry?</div>
            <%= @building.has_laundry %>
          </li>
          <li>
            <div class='field_title'>Has Pool?</div>
            <%= @building.has_pool %>
          </li>
          <li>
            <div class='field_title'>Pool Year Round?</div>
            <%= @building.pool_year_round %>
          </li>
          <li>
            <div class='field_title'>Pool Fuel</div>
            <%= @building.pool_fuel %>
          </li>
          <br>
          <li>
            <div class='field_title'>Apartment SQFT:  <%= @building.apartment_sqft %></div> 
          </li>
          <li>
            <div class='field_title'>Has Basement?:  <%= @building.has_basement %></div>
          </li>
          <li>
            <div class='field_title'>Basement SQFT:  <%= @building.basement_sqft %></div>   
          </li>
          <li>
            <div class='field_title'>Basement Conditioned?</div>
            <%= @building.basement_conditioned %>
          </li>
          <br>
          <li>
            <div class='field_title'>Number of Gas General Meters</div>
            <%= @building.n_gas_general_meters %>
          </li>
          <li>
            <div class='field_title'>Number of Gas Area Meters</div>
            <%= @building.n_gas_area_meters %>
          </li>
          <li>
            <div class='field_title'>Number of Electric General Meters</div>
            <%= @building.n_electric_general_meters %>
          </li>
          <li>
            <div class='field_title'>Number of Electric Area Meters</div>
            <%= @building.n_electric_area_meters %>
          </li>
          <li>
            <div class='field_title'>Number of Water General Meters</div>
            <%= @building.n_water_general_meters %>
          </li>
          <li>
            <div class='field_title'>Number of Water Area Meters</div>
            <%= @building.n_water_area_meters %>
          </li>
          <li>
            <div class='field_title'>Conditioned sqft:  <%= @building.conditioned_sqft %></div>
          </li>
          <li>
            <div class='field_title'>Number of Oil Area Meters</div>
            <%= @building.n_oil_area_meters %>
          </li>
          <li>
            <div class='field_title'>Number of Oil General Meters</div>
            <%= @building.n_oil_general_meters %>
          </li>
          <li>
            <div class='field_title'>Public Housing?</div>
            <%= @building.public_housing %>
          </li>
          <li>
            <div class='field_title'>Number of Water area meters</div>
            <%= @building.water_area_meters_count %>
          </li>
          <li>
            <div class='field_title'>Number of Electric area meters</div>
            <%= @building.electric_area_meters_count %>
          </li>
          <li>
            <div class='field_title'>Number of Gas area meters</div>
            <%= @building.gas_area_meters_count %>
          </li>
          <li>
            <div class='field_title'>Number of Oil area meters</div>
            <%= @building.oil_area_meters_count %>
          </li>
          <li>
            <div class='field_title'>Number of Water general meters</div>
            <%= @building.water_general_meters_count %>
          </li>
          <li>
            <div class='field_title'>Number of Electric general meters</div>
            <%= @building.electric_general_meters_count %>
          </li>
          <li>
            <div class='field_title'>Number of Gas general meters</div>
            <%= @building.gas_general_meters_count %>
          </li>
          <li>
            <div class='field_title'>Number of Oil general meters</div>
            <%= @building.oil_general_meters_count %>
          </li>
          <li>
            <div class='field_title'>Number of Steam general meters</div>
            <%= @building.steam_general_meters_count %>
          </li>
          <li>
            <div class='field_title'>Number of Steam area meters</div>
            <%= @building.steam_area_meters_count %>
          </li>
          <li>
            <div class='field_title'>Number of Propane general meters</div>
            <%= @building.propane_general_meters_count %>
          </li>
          <li>
            <div class='field_title'>Number of Propane area meters</div>
            <%= @building.propane_area_meters_count %>
          </li>
          <br>
          <li>
            <div class='field_title'>Tenant pays area water</div>
            <%= @building.tenant_pays_area_water %>
          </li>
          <li>
            <div class='field_title'>Tenant pays area electric</div>
            <%= @building.tenant_pays_area_electric %>
          </li>
          <li>
            <div class='field_title'>Tenant Pays area gas</div>
            <%= @building.tenant_pays_area_gas %>
          </li>
          <li>
            <div class='field_title'>Tenant pays area oil</div>
            <%= @building.tenant_pays_area_oil %>
          </li>
          <li>
            <div class='field_title'>Tenant pays area steam</div>
            <%= @building.tenant_pays_area_steam %>
          </li>
          <li>
            <div class='field_title'>Tenant pays area propane</div>
            <%= @building.tenant_pays_area_propane %>
          </li>
          <br>
          <li>
            <div class='field_title'>Number of Solar general meters</div>
            <%= @building.solar_general_meters_count %>
          </li>
          <li>
            <div class='field_title'>Number of Solar area meters</div>
            <%= @building.solar_area_meters_count %>
          </li>
          <li>
            <div class='field_title'>Number of Apartments</div>
            <%= @building.apartments_count %>
          </li>
          <li>
            <div class='field_title'>Number of Areas</div>
            <%= @building.areas_count %>
          </li>
          <li>
            <div class='field_title'>Other Building Type</div>
            <%= @building.other_building_type %>
          </li>
          <li>
            <div class='field_title'>Object type</div>
            <%= @building.object_type %>
          </li>
          <li>
            <div class='field_title'>Number of steam General Meters</div>
            <%= @building.n_steam_general_meters %>
          </li>
          <li>
            <div class='field_title'>Number of steam Area Meters</div>
            <%= @building.n_steam_area_meters %>
          </li>
          <li>
            <div class='field_title'>Number of propane General Meters</div>
            <%= @building.n_propane_general_meters %>
          </li>
          <li>
            <div class='field_title'>Number of propane Area Meters</div>
            <%= @building.n_propane_area_meters %>
          </li>
          <li>
            <div class='field_title'>Number of solar General Meters</div>
            <%= @building.n_solar_general_meters %>
          </li>
          <li>
            <div class='field_title'>Number of solar Area Meters</div>
            <%= @building.n_solar_area_meters %>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  
</ul>
