<% if user_signed_in? %>
  <li><%= link_to 'Audits', audits_path %></li>
  <li><%= link_to 'All Audit reports', calc_audit_reports_path %></li>
  <li><%= link_to 'Manage Report Templates', calc_report_templates_path %></li>
  <% if current_user.adminrole? %>
  	<li><%= link_to 'Organizations', organizations_path %></li>
    <li><%= link_to 'User Index', users_path %></li>
  <% end %>
  <li><%= link_to 'Buildings', buildings_path %></li>
  <li><%= link_to "Edit #{current_user.username.humanize} Profile", edit_user_registration_path %></li>
  <li><%= link_to "Sign #{current_user.username.humanize} Out", destroy_user_session_path, :method => :delete %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
<% end %>